@model Message
@{
    ViewData["Title"] = "Message";
}

<div class="text-center">
    <h1 class="display-4">Send a Raven</h1>
</div>

<div class="container text-center">
    <form method="post">
        <label asp-for="Sender.Name">Your Name:</label>
        <input asp-for="Sender.Name" />
        <br />

        <label asp-for="Recipient.Name">Send raven to:</label>
        <input asp-for="Recipient.Name" />
        <br />

        <label asp-for="Subject">Subject:</label>
        <input asp-for="Subject" />
        <br />

        <label asp-for="Body">Message:</label>
        <input asp-for="Body" />

        <br /><br />

        <button type="submit">Fly</button>
    </form>
</div>

<p>
    @if (Model != null)
    {
        <h2>Your Message</h2>
        <strong>Sender: </strong>@Model.Sender.Name
        <br />
        <strong>Recipient: </strong>@Model.Recipient.Name
        <br />
        <strong>Subject: </strong>@Model.Subject
        <br />
        <strong>Message: </strong>@Model.Body
        <br />
        <strong>Date: </strong>@Model.Date
    }
</p>